// -----------------------------------------------------------------------------
// This file contains all styles related to the s-features of the site/application.
// -----------------------------------------------------------------------------

.s-boots {
	padding: 70px 0 110px;
	background-color: #fff;
	.h2 {
		text-align: center;
		font-size: 4.15rem;
		text-transform: uppercase;
		font-weight: normal;
		margin-bottom: 70px;
	}
}